@media screen and (max-width: 768px)
 { 
    .box {
        flex-direction: column;
        width:100% !important;
    } 
 }

 @media screen and (min-width:769px) and (max-width:950px)
 {
    .status,.category{
        width:45%;
    }
 }
 @media screen and (min-width:950px){
    .status,.category{
        width:35%;
    }
 }
