.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #ffffff !important;
    background-color: #0e7cfb !important;
    /* border-color: var(--cui-nav-tabs-link-active-border-color, #c4c9d0 #c4c9d0 #fff); */
}
.image-container{
    padding:0;
}
.nav-tabs{
    margin-bottom: 1px !important;
}
.modal-body .editmodalnav{
    border:0.5px solid lightgray !important;
}
.general-image{
    height:120px;
    width:150px;
}
.general-legend{
    font-size: 18px;
    letter-spacing: 1px;
}
.general-content ul li{
    background: transparent !important;
    padding: 1px !important;
    border:0;
    font-size: 15px;
}
.profile-card-body{
    padding:8px !important;
    margin-bottom: 10px;
}
.general-info-ul li{
    padding:1px 0 !important;
}
.profile-photo,.sign-photo{
    overflow: hidden;
}
img.general-image{
    transition:all .5s ease-in-out;
}
img.general-image:hover{
    cursor: pointer;
    transform: scale(1.05);
}
fieldset,legend{
    margin-bottom: 2px !important;
}

@media only screen and (min-width:992px) and (max-width:1200px){
}

@media only screen and (min-width:400px){
    .img-container{
        padding: 0 !important;
    }
   
}
@media only screen and (min-width:430px) and (max-width:515px){
    .general-image{
        height:100px;
        width:100px;
    }
    .imageuploadbtn{
        font-size: 10px;
    }
}
@media only screen and (max-width:429px){
    .general-image{
        height:100px;
        width:100px;
    }
    .uploadbtn button{
        font-size:10px;
    }
  
}
